<h2>商品一覧</h2>
<%= link_to new_admin_item_path do %>
    新規作成
<% end %>
<div class = "container">
    <div class = "row">
        <% @items.each do |item| %>
            <div class = "col-md-4">
                 <div class="card">
                    <%= link_to admin_item_path(item.id) do %>
                        <%= image_tag item.get_item_image(100, 100) %>
                        <div class="card-body text-center">
                            <%= item.name %>
                        </div>
                        <div class="card-body text-center">
                            <%= item.price %>
                        </div>
                    <% end %>
                </div>
            </div>
        <% end %>
    </div>
</div>