<h2>商品一覧</h2>
<%= link_to new_admin_item_path do %>
    新規作成
<% end %>
<div class = "container">
    <div class = "row">
        <% @items.each do |item| %>
            <div class = "col">
                  <div class="style-scope ytd-rich-grid-row">
                    <%= link_to admin_item_path(item.id) do %>
                        <%= image_tag item.get_item_image(150, 150), class:"style-scope yt-img-shadow" %>
                        <div class="style-scope ytd-rich-grid-media">
                            <%= item.name %>
                        </div>
                        <div class="style-scope ytd-rich-grid-media">
                            <%= item.price %>円（税抜き）
                        </div>
                    <% end %>
                </div>
            </div>
        <% end %>
    </div>
</div>