<div class = "container">
  <div class = "row">
    <div class = "col-sm-2"></div>
    <div class = "col-sm-8">
      <h2>注文情報入力</h2>
      
      <%= form_with model: @order, url: public_orders_confirm_path, method: :post, local: true do |f| %>
        <h5>支払方法</h5>
        <%= f.radio_button :payment_method, "credit_card", checked: true %>
        <%= f.label :payment_method, "クレジットカード" %><br>
      
        <%= f.radio_button :payment_method, "transfer" %>
        <%= f.label :payment_method, "銀行振込" %>
      
        <h5>お届け先</h5>
        <%= f.radio_button :address_option, :my_address, checked: true %>
        <%= f.label :address_option, "ご自身の住所" %><br>
        <%= current_customer.postal_code %>
        <%= current_customer.address %><br>
        <%= current_customer.last_name %>
        <%= current_customer.first_name %>
      
      
        <br>
      
        <%= f.radio_button :address_option, :choose_address %>
        <%= f.label :address_option, "登録済住所から選択" %><br>
        <%= f.select :delivery,options_from_collection_for_select(current_customer.deliveries, :id, :full_address) %>
      
      
        <br>
      
        <%= f.radio_button :address_option, :new_address %>
        <%= f.label :address_option, "新しいお届け先" %><br />
      
          <div class="col-sm-5">
          <%= f.label :"郵便番号(ハイフンなし)" %><br />
          <%= f.text_field :postal_code, class:"form-control name" %>
        </div>
      
        <div class="col-sm-10">
          <%= f.label :"住所" %><br />
          <%= f.text_field :address, class:"form-control name" %>
        </div>
      
         <div class="col-sm-5">
          <%= f.label :"宛名" %><br />
          <%= f.text_field :name, class:"form-control name" %>
        </div>
        <div class = "cart-new">
          <%= f.submit "確認画面へ進む", class: "btn btn-sm btn-primary" %>
        </div>
      
      <% end %>
    </div>
  </div>
</div>




